.q-box {
	width: 4vh;
	height: 4vh;
	display: inline-block;
	border: .2vh white solid;
	box-sizing: border-box;
	background-color: #FF6B00;
	>.inner{
		background-color: grey;
		height:100%;
	}
}

#react-container{
	#d-box{
		width:16vh;
		display:inline-block
	}
	#e-box-container{
		margin-left: 6vh;
		vertical-align: top;
		display:inline-block;
		.e-box{
			width: 16vh;
			position: relative;
			margin-bottom: 4vh;
		}
		.e-box-name{
			position: absolute;
			left: 16vh;
		}
	}
}



body{
	text-align: center
}

.fill-0 > .inner{
	width: 0%
}
.fill-1 > .inner{
	width: 10%
}
.fill-2 > .inner{
	width: 20%
}
.fill-3 > .inner{
	width: 30%
}
.fill-4 > .inner{
	width: 40%
}
.fill-5 > .inner{
	width: 50%
}
.fill-6 > .inner{
	width: 60%
}
.fill-7 > .inner{
	width: 70%
}
.fill-8 > .inner{
	width: 80%
}
.fill-9 > .inner{
	width: 90%
}
.fill-10 > .inner{
	width: 100%
}